body {
height: 1000px;

}

.nested {
  padding: 5px;
}

div.nested > [class*="col-"] {
  background-color: darkgreen;
  border: 1px solid pink;
}

[class*="col-"] {
  text-align: center;
  width: 200px;

}

[class*="col-"] p {
  vertical-align: middle;
  line-height: 200px;

}
